:root {
  --background-color: #fefeff;
  --text-color: #000;
  --header-background-color:  #1747c9;
  --footer-background-color:#1747c9;
  --card-background-color: white;
}
nav-root {
  background-color: #8fbe6f;
  color: #ffffff;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--header-background-color);
}

footer {
  background-color: var(--footer-background-color);
}

.product-card {
  background-color: var(--card-background-color);
}


.dark-mode {
  --background-color: #000000;
  --text-color: #000000;
  --header-background-color: #151515;
  --footer-background-color: #000000;
  --card-background-color: #252525;
 
  --button-hover-color: #000000;
}
.dark-mode toggle-mode-btn {
  background-color: rgb(24, 24, 24);
  color:rgb(24, 24, 24);
}
.dark-mode mode-selector-theme {
  background-color: rgb(223, 0, 0);
}

.dark-mode nav a, .dark-mode #welcome-message {
  color: #fffcfc;
}

.dark-mode footer a {
  color: #ddd;
}
.dark-mode button{background-color: #151515;
  color: #ddd;
}
.dark-mode button:hover{background-color: #000000;
  color: #ddd;
}
.dark-mode nav a:hover{background-color: #000000;
  color: #ddd;
}
.dark-mode #countdown {background-color: #817b7b2b;
  color: #600000;
}

body.dark-mode {
  background-color: #ffffff;
  color: #000000;
}
   
  
  /* Ejemplo de algunos elementos con colores ajustados para modo daltónico */
 
  body.colorblind-mode header, 
  body.colorblind-mode nav {
    background-color: #B2B700;
    color: #ffffff;
  }
  body.colorblind-mode footer {
    background-color: #A45D3C;
    color: #ffffff;
  }
  body.colorblind-mode button {
    background-color: #B2B700;
    color: #ffffff;
  }
  body.colorblind-mode #countdown {
    background-color: #94990028;
    color: #FF7F7F;
  }
  body.colorblind-mode button:hover {
    background-color: #919602;
    color: #ffffff;
  }
  body.colorblind-mode nav a:hover {
    background-color: #919602;
    color: #ffffff;
  }
  body.colorblind-mode mode-selector-theme  {
    background-color: #919602;
    color: #ffffff;
  }